@bg-color: rgba(233, 233, 233, 1);
//@bg-color:rgba(233, 233, 233, .77);

#app {
  width: 333px;
  max-height: 520px;
  cursor: default;
  background-color: @bg-color;
  font-size: 12px;
  position: fixed;
  left: 10px;
  top: 286px;
  border-radius: 4PX 4px 0 0;
  z-index: 10;
}

